:root {
    --primary-color: var(--palette-yellow);
    --background-color: #ffffff;
    --color: #000000;
    --border-color: #cfcfcf;
    --link-color: blue;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #000000;
        --color: #ffffff;
        --blue-or-yellow: var(--palette-yellow);
        --border-color: #333333;
    }
}

html, body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: var(--color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

a {
    color: var(--link-color);

    &:hover {
        text-decoration: none;
    }
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.container-xxl {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

.page-title {

}
